html {
    height: 100%;
}

body {
    font-family: "Droid Sans", "DejaVu Sans", Arial, sans-serif;
    font-size: 11pt;
    font-weight: normal;
    color: #F6F6F6;

    background: #666666;
    background: -moz-radial-gradient(center, ellipse cover, #666666 0%, #222 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 700px, color-stop(0%,#666666), color-stop(100%,#222));
    background: -webkit-radial-gradient(center, ellipse cover, #666666 0%,#222 100%);
    background: -o-radial-gradient(center, ellipse cover, #666666 0%,#222 100%);
    background: -ms-radial-gradient(center, ellipse cover, #666666 0%,#222 100%);
    background: radial-gradient(ellipse at center, #666666 0%,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#222',GradientType=1 );

    margin: 0;

    text-shadow: 1px 1px 1px #000;
}


a {
    color: #F90;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 10px 20px;
}

tr:nth-child(2n+1) {
    background: rgba(255, 255, 255, 0.05);
}

p, ul {
    line-height: 1.6;
    text-align: justify;
}

ul {
    list-style: square;
}

#header,
#wrapper {
    width: 900px;
    margin: 20px auto;
}

#wrapper {
    padding-bottom: 30px;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-lock      { background-image: url("../gfx/lock.png"); }
.icon-unlock    { background-image: url("../gfx/accept.png"); }


form {
    width: 400px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 50px auto;
}

form label {
    display: inline-block;
    width: 100px;
    font-size: 0.8em;
    font-weight: bold;
    vertical-align: top;
    padding-top: 4px;
}

form input.text,
form input.password,
form textarea {
    display: inline-block;
    width: 290px;
    border: 0;
    padding: 4px 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font: inherit;
    font-size: 0.8em;
}

form input.text:focus,
form input.password:focus,
form textarea:focus {
    outline: 0;
    background: rgba(255, 255, 255, 0.4);
}

.error {
    color: red;
    font-size: 0.8em;
}

ul.images {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
}

ul.images li {
    display: block;
    float: left;
    width: 172px;
    height: 172px;
    margin-left: 10px;
    margin-bottom: 10px;

    background: rgba(0, 0, 0, 0.2);

    -webkit-transition: background 0.2s linear;
       -moz-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
         -o-transition: background 0.2s linear;
            transition: background 0.2s linear;
}

ul.images li:hover {
    background: rgba(0, 0, 0, 0.8);
}

ul.images li img {
    width: 152px;
    height: 152px;
    margin: 10px;
}

ul.images li.big {
    width: 345px;
}

#stream,
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.slide .image {
    position: absolute;
    left: 0px;
    top: 00px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

.slide .image img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.slide .meta,
#stream .menu {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 10px;
}

#stream .menu {
    top: 0px;
}

.slide .meta {
    bottom: 0px;
    background: rgba(0, 0, 0, 0.8);
}

.slide .meta .title {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 10px;
}

.slide .meta .description {
    color: rgba(255, 255, 255, 0.5);
}

.fullsize {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.fullsize img {
    max-width: 100%;
}

/* FROM BOOTSTRAP! */
.btn {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    padding: 4px 14px;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    *line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbbbbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
    background-color: #cccccc \9;
}
.btn:first-child {
    *margin-left: 0;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn {
    border-color: #c5c5c5;
    borders-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
